In [156]:
import pandas as pd
import numpy as np
import time

In [17]:
df = pd.read_html('index.html',header=0)[0]

In [23]:
df = df[~df.Name.str.contains("an")]

In [24]:
df.head()

,Name,Phone,Email,Date
1,"Jamal, Kathleen, Halla, Kaseem",(0191) 241 1726,pellentesque@in.co.uk,"Jun 22, 2020"
2,"Gage, Nina, Cain, Lillith",07624 622804,ornare.placerat.orci@mitemporlorem.edu,"Jan 17, 2019"
3,"Kuame, Marshall, Barclay, Cherokee",(01571) 046238,consequat.purus@Proin.org,"Feb 18, 2019"
4,"Barry, Elvis, Kevyn, Riley",(0111) 273 0368,orci.consectetuer@velmauris.org,"Apr 8, 2019"
9,"Idola, Hammett, Jessica, Yeo",07624 178775,ac@sodales.co.uk,"Oct 22, 2019"

In [25]:
df.to_excel('Detail_Index.xls')

In [12]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import datetime as dt

In [ ]:
df = pd.read_excel('Detail_Index.xls')

In [8]:
df.reset_index(inplace=True)

In [9]:
df.drop('index',axis=1,inplace=True)

In [113]:
df.Phone = df.Phone.str.replace(r'\(|\)| ','')

In [159]:
def Automation_attribute(browser ):
    for i in range(0,len(df)):
        browser.get('https://docs.google.com/forms/d/e/1FAIpQLSc9Qn2s52l28z0Rn5bAo5nVOb2Ug2Y1I0n8FGeUOmtgEB5VwA/viewform')
        Name = browser.find_element_by_xpath('//*[@id="mG61Hd"]/div/div/div[2]/div[1]/div/div[2]/div/div[1]/div/div[1]/input')
        Name.send_keys(df.Name[i])
        time.sleep(2)
        phone = browser.find_element_by_xpath('//*[@id="mG61Hd"]/div/div/div[2]/div[2]/div/div[2]/div/div[1]/div/div[1]/input')
        phone.send_keys(df.Phone[i])
        time.sleep(2)
        Email = browser.find_element_by_xpath('//*[@id="mG61Hd"]/div/div/div[2]/div[3]/div/div[2]/div/div[1]/div/div[1]/input')
        Email.send_keys(df.Email[i])
        time.sleep(2)
        date = browser.find_element_by_xpath('//*[@id="mG61Hd"]/div/div/div[2]/div[4]/div/div[2]/div/div[2]/div[1]/div/div[1]/input')
        date.send_keys(int(pd.to_datetime(df["Date"][i]).strftime("%d%m%Y")))
        time.sleep(2)
        Submit = browser.find_element_by_xpath('//*[@id="mG61Hd"]/div/div/div[3]/div[1]/div/div/span/span')
        Submit.click()
        print('Submitted ',i )

In [137]:
browser = webdriver.Chrome()

In [160]:
Automation_attribute(browser)

Submitted  0
Submitted  1
Submitted  2
Submitted  3
Submitted  4
Submitted  5
Submitted  6
Submitted  7
Submitted  8
Submitted  9
Submitted  10
Submitted  11
Submitted  12
Submitted  13
Submitted  14
Submitted  15
Submitted  16
Submitted  17
Submitted  18
Submitted  19
Submitted  20
Submitted  21
Submitted  22
Submitted  23
Submitted  24
Submitted  25
Submitted  26
Submitted  27
Submitted  28
Submitted  29
Submitted  30
Submitted  31
Submitted  32
Submitted  33
Submitted  34
Submitted  35
Submitted  36
Submitted  37
Submitted  38
Submitted  39
Submitted  40
Submitted  41
Submitted  42